.mt__welcome {
  position: relative;
  height: 0;
  padding-top: 37.5%;
  background-color: #000000;
  overflow: hidden;
  backface-visibility: hidden;

  iframe#welcome {
    position: absolute;
    top: -50%;
    left: -50%;
    right: 0;
    bottom: 0;
    display: block;
    width: 200% !important;
    height: 200% !important;
  }
  .welcome--video {
    position: absolute;display: none;
    left: 0;right: 0;top: 0;bottom: 0;
    overflow: hidden !important;z-index: 2;
  }
  .welcome--th {
    position: absolute;z-index: 1;
    background: url(../img/welcome_th.jpg) no-repeat center center;
    background-size: cover;
    top: 0;left: 0;right: 0;bottom: 0;
  }

  button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    border: none;
    background-color: rgba($color_main, .9);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 100%;

    svg {
      width: 40px;
      height: 40px;
      fill: #ffffff;
      display: block;
    }

    &.playing {
      opacity: 0;
    }
  }

  &:hover button.playing {
    opacity: 1;
  }
}
.mt__about {
  padding: 60px 0;
  .owl-carousel {
    margin-top: 30px;
    .item {cursor: pointer;}
    .owl-nav {
      button {
        position: absolute;
        top: 50%;
        margin-top: -28px;
        opacity: .5;

        &:hover {
          opacity: 1;
        }

        &.owl-prev {
          left: -60px;
        }

        &.owl-next {
          right: -60px;
        }

        svg {
          display: block;
          width: 19px;
          height: 56px;
          fill: #555555;
        }
      }
    }
  }
}
.mt__why {
  padding: 40px 0 20px;

  h2 {
    text-align: center;
    margin-bottom: 50px;
  }

  .why {
    text-align: center;
    margin-bottom: 40px;

    &--icon {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 85px;
      height: 85px;
      margin: 0 auto 10px;
      background-color: #ffffff;
      border-radius: 100%;
      box-shadow: 0 4px 10px rgba(#000, .26);

      svg {
        display: block;
        width: 50px;
        height: 50px;
      }
    }

    &--title {
      color: #333333;
      font-size: 22px;
      font-weight: 500;
      padding-bottom: 5px;
      margin-bottom: 10px;
      position: relative;

      &:after {
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        margin: 0 auto;
        background-color: #1571cf;
      }
    }

    &--text {
      font-size: 14px;
      line-height: 24px;
    }
  }
}
.mt__about--slider {
  .item {
    position: relative;
    display: block;
    cursor: pointer;

    &--text {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(#000, .55);
      padding: 20px 0 40px;
      color: #ffffff;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      height: 160px;

      p {
        margin: 0;
        height: 75px;
        overflow: hidden;
      }
    }
  }
  .owl-dots {
    position: absolute; 
    bottom: 15px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0;

    .owl-dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: transparent;
      border: 2px solid #ffffff;
      border-radius: 100%;
      margin: 0 4.5px;

      &:hover, &.active {
        background-color: #fff;
      }
    }
  }
  .owl-nav {
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    button {
      position: absolute;
      bottom: 50px;
      margin-top: -28px;
      opacity: .5;

      &:hover {
        opacity: 1;
      }

      &.owl-prev {
        left: 15px;
      }

      &.owl-next {
        right: 15px;
      }

      svg {
        display: block;
        width: 19px;
        height: 56px;
        fill: #ffffff;
      }
    }
  }
}
.mt__feedback {
  background-color: #f5f5f5;
  padding: 60px 0;

  .container {
    padding: 0;
  }

  .owl-carousel {
    .item {
      padding: 0 15px;

      &--image {
        position: relative;
        background-color: #000000;
        border-radius: 15px;
        overflow: hidden;
        backface-visibility: hidden;
        cursor: pointer;

        img {
          position: relative;
          display: block;
          opacity: .95;
        }

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 2;
          width: 40px;
          height: 40px;
          margin-top: -20px;
          margin-left: -20px;
          border: none;
          background-color: rgba($color_main, .9);
          display: flex;
          align-items: center;
          justify-content: space-around;
          border-radius: 100%;
          opacity: 0;
      
          svg {
            width: 16px;
            height: 16px;
            fill: #ffffff;
            display: block;
          }
        }

        &:hover {
          img {opacity: .45;}
          span {opacity: 1;}
        }
      }

      &--text {
        padding-top: 20px;
        h4 {
          font-size: 18px;
          border-bottom: 1px solid #1571cf;
          margin-bottom: 10px;
          small {
            display: block;
            font-weight: 400;
            font-size: 14px;
            padding-top: 5px;
            padding-bottom: 10px;
          }
        }

        p {
          margin: 0;
          font-size: 14px;
          line-height: 22px;
        }
      }
    }

    .owl-nav {
      button {
        position: absolute;
        top: 50%;
        margin-top: -28px;
        opacity: .5;

        &:hover {
          opacity: 1;
        }

        &.owl-prev {
          left: -60px;
        }

        &.owl-next {
          right: -60px;
        }

        svg {
          display: block;
          width: 19px;
          height: 56px;
          fill: #555555;
        }
      }
    }
  }
}
.mt__how {
  padding: 60px 0 20px;

  .row {
    align-items: stretch;

    .col {
      margin-bottom: 40px;
    }
  }

  .item {
    height: 100%;
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: flex-start;
    img {
      display: block;
      flex: none;
    }
    span {
      display: block;
      flex: 1;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 10px;
      font-size: 14px;
      line-height: 16px;
      color: #333333;
    }
  }
}
.mt__priceform {
  padding: 60px 0;
  background: url(../img/price_bg.jpg) no-repeat top center;
  background-size: cover;
  color: #ffffff;
}
.mt__partners {
  padding: 60px 0 0;
  .item {
    padding: 0 15px;
  }
  .owl-nav {
    button {
      position: absolute;
      top: 50%;
      margin-top: -28px;
      opacity: .5;

      &:hover {
        opacity: 1;
      }

      &.owl-prev {
        left: -60px;
      }

      &.owl-next {
        right: -60px;
      }

      svg {
        display: block;
        width: 19px;
        height: 56px;
        fill: #555555;
      }
    }
  }
}
.mt__cert {
  padding: 60px 0;
  .item {
    &--image {
      .cert {
        width: 50%;
        margin: 0 auto;
        transform: translateY(5%);
        box-shadow: 0 10px 30px rgba(#000, .4);
      }
      &.bg {
        width: 75%;
        margin: 0 auto;
      }
    }
    &--text {
      padding-bottom: 30px;
      p {
        margin: 0;
        font-size: 14px;
        line-height: 24px;
        color: #303030;
      }
    }
  }
  .owl-nav {
    button {
      position: absolute;
      top: 50%;
      margin-top: -28px;
      opacity: .5;

      &:hover {
        opacity: 1;
      }

      &.owl-prev {
        left: -60px;
      }

      &.owl-next {
        right: -60px;
      }

      svg {
        display: block;
        width: 19px;
        height: 56px;
        fill: #555555;
      }
    }
  }
  .owl-dots {
    text-align: center;
    font-size: 0;

    .owl-dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: transparent;
      border: 1px solid #707070;
      border-radius: 100%;
      margin: 0 4.5px;

      &:hover, &.active {
        background-color: #707070;
      }
    }
  }
}
.mt__guests {
  position: relative;
  #supermap {
    height: 380px;
  }
  .container {
    position: relative;
    z-index: 2;
  }

  .map--title {
    background-color: rgba(#00b7e8, .9);
    position: absolute;
    left: 15px;
    top: 30px;
    color: #ffffff;
    font-size: 36px;
    line-height: 40px;
    padding: 20px 100px 20px 30px;

    &:after {
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 40px 0 40px 20px;
      border-color: transparent transparent transparent rgba(#00b7e8, .9);
      position: absolute;
      top: 0;
      left: 100%;
    }
  }
}
.mt__visa {
  padding: 60px 0;

  .selector {
    border: 2px solid #acacac;
    border-radius: 5px;
    margin-bottom: 40px;

    h4 {
      margin: 0;
      font-size: 20px;
      line-height: 28px;
      color: #464646;
      background-color: #ededed;
      padding: 10px 20px;
    }

    &--list {
      height: 140px;
      padding: 10px 0 0;

      ul {
        margin: 0;
        padding: 0 10px 10px 0;
        list-style: none;
        list-style-image: none;

        li {
          display: block;

          a {
            display: block;
            padding: 4px 20px;
            border-bottom: 1px solid #f2f2f2;
            color: #444444;
            text-decoration: none;
            img {
              margin-right: 10px;
            }

            &:first-child a {
              border-top: 1px solid #f2f2f2;
            }
            &:hover {opacity: 0.75;}
            &[aria-expanded=true] {background-color: #f2f2f2;opacity: 1;}
          }
        }
      }
    }
  }

  .panel-collapse {
    padding: 0 40px;
    font-size: 22px;
    font-style: italic;
    line-height: 30px;

    p {
      margin: 0;
    }
  }
}
.mt__offers {
  padding: 60px 0;
  background-color: #edf2f4;

  .btn.submit.fat {
    display: block;
    width: 100%;
    padding: 15px;
  }
  .total {
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    color: #221f20;
  }

  ul.checklist {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 20px;
      padding: 10px 0;

      svg {
        flex: none;

        fill: #00b7e8;
        width: 20px;
        height: 20px;
        margin-right: 15px;
        margin-left: 20px;
      }
    }
  }
}
.mt__inst {
  padding: 60px 0;

  h2 img {
    margin-left: 20px;
    line-height: 1;
    vertical-align: middle;
  }

  .super__align {
    margin: 0 75px -30px;

    .item {
      margin-bottom: 30px;
      display: block;

      &:hover {
        opacity: 0.75;
      }

      img {
        display: block;
        width: 100%;
      }
    }
  }
}