.mt__treatment {
  &--header {
    position: relative;
    height: 0;
    padding-top: 35%;
    background: url(../img/treatment.jpg) no-repeat center center;
    background-size: cover;

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      margin: 0;
      padding: 0;
      text-shadow: 0 2px 4px rgba(#000000, .76);
      color: #fff;
      line-height: 1;
      font-size: 52px;
    }
  }
  &--intro {
    text-align: center;
    padding: 60px 0;
    color: #262425;

    h4 {
      font-size: 18px;
      line-height: 1;
      margin: 0 0 27px;
    }
    p {
      line-height: 26px;
      margin: 0 0 26px;
    }
    .video {
      position: relative;
      overflow: hidden;
      backface-visibility: hidden;
      margin-top: 30px;

      .welcome--video {
        position: absolute;display: none;
        left: 0;right: 0;top: 0;bottom: 0;
        overflow: hidden !important;z-index: 2;

        iframe {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      button {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
        width: 100px;
        height: 100px;
        margin-top: -50px;
        margin-left: -50px;
        border: none;
        background-color: rgba($color_main, .9);
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 100%;
    
        svg {
          width: 40px;
          height: 40px;
          fill: #ffffff;
          display: block;
        }
    
        &.playing {
          display: none;
        }
      }
    }
  }
  &--doctors {
    padding: 60px 0 30px;
    background-color: #eef2f4;
    color: #262425;

    .super__align {
      padding: 0 60px;
    }

    .doctor {
      background-color: #ffffff;
      border: 1px solid #e6e6e6;
      border-radius: 10px;
      margin-bottom: 30px;
      padding: 35px;
      text-align: center;
      line-height: 1;

      &:hover {
        box-shadow: 0 0 27px rgba(#000000, .25);
      }

      &--image {
        display: block;
        width: 100%;
        border: 3px solid #ebebeb;
        margin-bottom: 20px;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
          border-color: #75cffd;
        }
      }

      &--name {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 5px;
      }

      &--spec {
        font-size: 16px;
        margin-bottom: 15px;
      }

      &--video {
        display: inline-block;
        line-height: 20px;
        font-size: 0;
        color: #5c5c5c;
        border: 1px solid #75c1df;
        padding: 5px 25px;
        cursor: pointer;
        border-radius: 5px;
        white-space: nowrap;
        box-shadow: 0 2px 0 rgba(#000000, 0);

        span {
          font-size: 18px;
          font-weight: 300;
          display: inline-block;
          line-height: 1;
          vertical-align: middle;
        }

        svg {
          display: inline-block;
          line-height: 1;
          vertical-align: middle;
          width: 15px;
          height: 15px;
          margin-left: 5px;
          fill: #75c1df;
        }

        &:hover {
          background-color: #75cffd;
          border-color: #75cffd;
          color: #ffffff;
          box-shadow: 0 2px 0 rgba(#000000, .18);

          svg {
            fill: #ffffff;
          }
        }
      }
    }
  }
  &--services {
    padding: 60px 0;
    background: url(../img/price_bg.jpg) no-repeat top center;
    background-size: cover;
    color: #ffffff;

    .services__list {
      font-size: 0;
      text-align: center;

      .service {
        display: inline-block;
        padding: 0 15px 40px;
        color: #ffffff;
        text-decoration: none;
        transition: .15s ease-in-out;

        h4 {
          font-weight: 400;
          font-size: 18px;
        }
      }

      &:hover .service {opacity: 0.5;}
      &:hover .service:hover {opacity: 1;}
    }
  }
  &--cases {
    padding: 60px 0;
    color: #262425;

    .super__align {
      padding: 0 80px;
    }

    .case {
      padding: 0 30px;

      &--link {
        display: block;
        border-radius: 10px;
        border: 4px solid #ffffff;
        cursor: pointer;
        margin-bottom: 10px;
        &:hover {
          border-color: #00b7e8;
          box-shadow: 0 5px 20px rgba(#221f20, .18);
        }
      }

      &--title {font-weight: 500;color: #221f20;}

      &--country, &--type {
        font-size: 14px;
      }
    }
    .owl-dots {
      text-align: center;
      font-size: 0;
      padding-top: 30px;
  
      .owl-dot {
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: transparent;
        border: 1px solid #555555;
        border-radius: 100%;
        margin: 0 4.5px;
  
        &:hover, &.active {
          background-color: #555555;
        }
      }
    }
    .owl-nav {
      button {
        position: absolute;
        top: 100px;
        opacity: .5;
  
        &:hover {
          opacity: 1;
        }
  
        &.owl-prev {
          left: -80px;
        }
  
        &.owl-next {
          right: -80px;
        }
  
        svg {
          display: block;
          width: 19px;
          height: 56px;
          fill: #555555;
        }
      }
    }
  }
  &--prices {
    padding: 60px 0;
    background-color: #fbfbfb;

    .super__align {
      text-align: center;
      padding: 40px 0;

      .btn--showmore {
        display: inline-block;
        border: none;
        font-size: 16px;
        line-height: 20px;
        padding: 15px 40px;
        border-radius: 8px;
        cursor: pointer;
        background-color: #2bd1ff;
        color: #ffffff;
      
        &:hover {
          background-color: #4ed7fd;
        }
      }
    }

    .collapse {
      border-top: 1px solid #ace4f2;
    }

    .pricetable {

      &__row {
        display: flex;
        border-bottom: 1px solid #ace4f2;
        line-height: 24px;
        font-size: 18px;
        color: #221f20;

        &:hover {
          background: #e0f2f7;
        }

        &:last-child {
          border-bottom: none;
        }
      }

      &__text {
        padding: 15px 4px;
        flex: 1;

        span {
          padding-left: 12px;
          display: inline-block;

          &:before {
            // WHEN DESIGNER IDIOT
            content: '';
            display: inline-block;
            line-height: 1;
            margin-bottom: 2px;
            vertical-align: middle;
            width: 6px;
            height: 6px;
            margin-left: -12px;
            border-radius: 100%;
            border: 2px solid #bfbfbf;
            margin-right: 6px;
          }
        }
      }

      &__value {
        color: #1571cf;
        border-left: 1px solid #ace4f2;
        border-right: 1px solid #ace4f2;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 55px;
        flex: none;
        width: 135px;
      }
    }
  }
}


.doc__popup {
  width: 830px;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  .mfp-close {
    top: 23px;
    right: 7px;
  }
  &--wraper {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    backface-visibility: hidden;
  }

  &--img {
    flex: none;
    img {
      display: block;
    }
  }

  &--text {
    padding: 30px;
    color: #444444;

    h4 {
      margin: 0 0 10px;
      color: #221f20;
      font-size: 24px;
    }

    p {
      margin: 0;
    }
  }
}
.case__popup {
  width: 830px;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  .mfp-close {
    top: 23px;
    right: 7px;
  }
  &--wraper {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    backface-visibility: hidden;
  }

  &--text {
    padding: 40px;
    color: #444444;

    h4 {
      margin: 0 0 10px;
      color: #221f20;
      font-size: 24px;
    }

    p {
      margin: 0;
    }
  }
}

