extends models/layout.pug
block variables
  - PageTitle = 'Вопрос доктору'
block content
  .flexed
  p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, ipsa a quidem officiis vitae nostrum quis expedita ab rerum enim accusamus harum iure totam maiores rem quasi architecto porro eaque.
  .flexed
